<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog_Template1</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/boostrap-boke1.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../../static/css/jumbotron-narrow-boke1.css" rel="stylesheet">
    <link href="../../static/css/boke1.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="#">Journal</a></li>
                <li role="presentation"><a href="#">About</a></li>
                <li role="presentation"><a href="#">Work</a></li>
                <li role="presentation"><a href="#">Contact</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Blogin</h3>
    </div>
    <div class="content">
        <div class="content-neirong">
            <div class="content-left">
                <div class="left-box1">
                    <img src="../../static/images/boke1-content-left1.png" alt="">
                    <p><h5>DUIS AUTE IRURE DOLOR IN HENDERIT IN VOLUPTATE</h5></p>
                    <p class="dir-color">Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliqui-
                        pop ex ea commo doconsequat,sunt in culpa qui officia deserunt mollit anim id
                        est laborum.
                    </p>
                    <p class="dir-color">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur...
                    </p>
                    <button>Continue Reading</button>
                </div>
                <div class="left-box2">
                    <img src="../../static/images/boke1-content-left2.png" alt="">
                    <p><h5>DUIS AUTE IRURE DOLOR IN HENDERIT IN VOLUPTATE</h5></p>
                    <p class="dir-color">Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliqui-
                        pop ex ea commo doconsequat,sunt in culpa qui officia deserunt mollit anim id
                        est laborum.
                    </p>
                    <p class="dir-color">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                        fugiat nulla pariatur...
                    </p>
                    <button>Continue Reading</button>
                </div>
            </div>
            <div class="content-right">
                <ul>
                    <li class="one">
                        <h5>ABOUT BLOGIN</h5>
                        <p>Duis aute irure dolor in repre-henderit in voluptate velit esse
                           cillum dolore eu fugiat nulla pariatur.</p>
                        <p>Excepteur sint occaecat sunt in culpa qui officia deserunt mollit
                           enim id est laborum.</p>
                    </li>
                    <li class="two">
                        <h5>SEARCH</h5>
                        <p class="search">What are you looking for?</p>
                    </li>
                    <li>
                        <h5>STAY TUNED.</h5>
                        <p class="search">
                            <span>Your Email</span>
                            <img src="../../static/images/boke1-right.png" alt="">
                        </p>
                    </li>
                </ul>
            </div>
            <div class="previous">
                <div class="previous-left">
                    <img src="../../static/images/boke1-previous-left.png" alt="">
                    <span>PREVIOUS</span>
                </div>
                <div class="previous-right">
                    <span>NEXT</span>
                    <img src="../../static/images/boke1-previous-right.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="center">
            <h3>Blogin</h3>
            <p class="center-first">
                <img src="../../static/images/boke1-footer-img.png" alt="">
                <span>2014 Blogin.com - All Rights Reserved - Find more free Templates at Pixelhint.com</span>
            </p>
            <p class="center-two">
                <img src="../../static/images/boke1-foot-one.png" alt="">
                <img src="../../static/images/boke1-foot-two.png" alt="">
                <img src="../../static/images/boke1-foot-three.png" alt="">
                <img src="../../static/images/boke1-foot-four.png" alt="">
            </p>
        </div>

    </div>
</div>
</body>
</html>
